/*inicio*/

$imgAlto: 407px;
$imgAncho: 537px;
.imgAyL {
    height: $imgAlto;
    width: $imgAncho;
}

.imgmain {
    display: flex;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

.letraBlanca {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    line-height: 1.6 rem;
}

.gridinicio {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 5px;
    grid-template-areas: "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1 imagen1" "imagen2 imagen2 imagen3 imagen3 imagen3 imagen4 imagen4 imagen4" "imagen2 imagen2 imagen3 imagen3 imagen3 imagen4 imagen4 imagen4" "imagen2 imagen2 imagen3 imagen3 imagen3 imagen4 imagen4 imagen4" "imagen2 imagen2 imagen5 imagen5 imagen5 imagen6 imagen6 imagen6" "imagen2 imagen2 imagen5 imagen5 imagen5 imagen6 imagen6 imagen6" "imagen2 imagen2 imagen5 imagen5 imagen5 imagen6 imagen6 imagen6";
}

.imagen_imagen1 {
    grid-area: imagen1;
    display: flex;
    img {
        height: 400px;
        width: 1300;
    }
    p {
        position: absolute;
        align-self: center;
        left: 700px;
        height: 300px;
        width: 400px;
        text-align: center;
        z-index: 2;
        color: white;
        font-size: 3rem;
        font-style: italic;
        &:hover {
            color: black;
            font-size: 4rem;
        }
    }
}

.imagen_imagen2 {
    grid-area: imagen2;
    display: flex;
    img {
        height: 820px;
        width: 500px;
        filter: grayscale(100%);
        &:hover {
            filter: none;
        }
    }
}

.imagen_Main3 {
    @extend .imgmain;
    grid-area: imagen3;
    animation-name: mirror;
    animation-duration: 9s;
    img {
        @extend .imgAyL;
    }
}

.imagen_Main4 {
    @extend .imgmain;
    grid-area: imagen4;
    animation-name: fifa;
    animation-duration: 8s;
    img {
        @extend .imgAyL;
    }
}

.imagen_Main5 {
    @extend .imgmain;
    grid-area: imagen5;
    animation-name: nfs;
    animation-duration: 7s;
    img {
        @extend .imgAyL;
    }
}

.imagen_Main6 {
    @extend .imgmain;
    grid-area: imagen6;
    animation-name: unc;
    animation-duration: 9s;
    img {
        @extend .imgAyL;
    }
}

.invisible {
    filter: opacity(0%);
}

@keyframes fifa {
    0% {
        background-image: url(../imagenes/fifa.jpeg);
        background-size: cover;
    }
    36% {
        background-image: url(../imagenes/fifa2.jpg);
        background-size: cover;
    }
    72% {
        background-image: url(../imagenes/fifa3.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(../imagenes/fifa.jpeg);
        background-size: cover;
    }
}

@keyframes mirror {
    0% {
        background-image: url(../imagenes/mirror.jpg);
        background-size: cover;
    }
    36% {
        background-image: url(../imagenes/mirror2.jpg);
        background-size: cover;
    }
    72% {
        background-image: url(../imagenes/mirror3.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(../imagenes/mirror.jpg);
        background-size: cover;
    }
}

@keyframes nfs {
    0% {
        background-image: url(../imagenes/nfs.jpg);
        background-size: cover;
    }
    36% {
        background-image: url(../imagenes/nfs2.jpg);
        background-size: cover;
    }
    72% {
        background-image: url(../imagenes/nfs3.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(../imagenes/nfs.jpg);
        background-size: cover;
    }
}

@keyframes unc {
    0% {
        background-image: url(../imagenes/unc.jpeg);
        background-size: cover;
    }
    36% {
        background-image: url(../imagenes/unc2.jpeg);
        background-size: cover;
    }
    72% {
        background-image: url(../imagenes/unc3.jpeg);
        background-size: cover;
    }
    100% {
        background-image: url(../imagenes/unc.jpeg);
        background-size: cover;
    }
}