/*Juegos*/

.j_org {
    position: relative;
    display: flex;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.j_org2 {
    margin: 20px;
    height: 300px;
    width: 400px;
}

.b_color {
    background-color: black;
    border-bottom: black;
}